/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
* {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: fuchsia !important;
  font-family: monospace !important;
}
