<div class="search-container">
  <label for="search-box">Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control mr-sm-2" type="search" aria-label="Search" (click)="onClickedInside($event)"/>
</div>
<div class="myBox" (clickOutside)="onClickedOutside($event)" [exclude]="'input'" *ngIf="showBox" >
  <accordion [closeOthers]="oneAtATime" [isAnimated]="true">
    <accordion-group *ngFor="let movie of movies" heading="{{ movie.title }} ({{ movie.release_date   |  slice:0:4 }})   |   Movie">
      <div class="movie-results">
        <img class="poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ movie.poster_path }}" alt=""/>
        <div class="movie-result-title">{{movie.title}}</div>
        <p class="movie-result-info">Original name: {{ movie.original_title }}<br>Realease date: {{ movie.release_date }}</p>   
        <p class="movie-result-overview">{{movie.overview}}</p>
        <div class="break"></div>
        <a class="more-details" href="/movie/detail/{{ movie.id }}" target="_blank"> More details</a>   
      </div>
    </accordion-group>
    <div *ngFor="let person of persons">
      <div *ngIf="(person.known_for_department == 'Acting') && (person.gender == 1)">
        <accordion-group heading="{{ person.name }}   |   Actress">
          <div class="movie-results">
            <img class="poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ person.profile_path }}" alt=""/>
            <div class="movie-result-title">{{ person.name }}</div>
            <div class="break"></div>
            <a class="more-details" href="/person/detail/{{ person.id }}" target="_blank"> More details</a>
          </div>
        </accordion-group>
      </div>
      <div *ngIf="(person.known_for_department == 'Acting') && (person.gender == 2)">
        <accordion-group heading="{{ person.name }}   |   Actor">
          <div class="movie-results">
            <img class="poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ person.profile_path }}" alt=""/>
            <div class="movie-result-title">{{ person.name }}</div>
            <div class="break"></div>
            <a class="more-details" href="/person/detail/{{ person.id }}" target="_blank"> More details</a>
          </div>
        </accordion-group>
      </div>
    </div>
  </accordion>

</div>