<input #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>


<accordion [closeOthers]="oneAtATime" [isAnimated]="true">
  <accordion-group *ngFor="let movie of movies" heading="{{ movie.title }} ({{ movie.release_date | slice:0:4 }})" class="no-padding">
    <div class="movie-results">
      <img class="poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ movie.poster_path }}" alt=""/>
      <div class="movie-result-title">{{movie.title}}</div>
      <p class="movie-result-info">Original name: {{ movie.original_title }}<br>Realease date: {{ movie.release_date }}</p>   
      <p class="movie-result-info">{{movie.overview}}<a class="more-details" href="/movie/detail/{{ movie.id }}" target="_blank"> More details</a></p>   
    </div>
  </accordion-group>
</accordion>