.no-padding > * {
    padding: 0px !important;
}
.movie-results {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.movie-result-title {
    align-self: center;
    font-size: 24px;
    font-weight: bolder;
}

.poster {
    height: 100px;
    margin: 0 50px;
}

.movie-result-info {
    margin: 0 50px;
}

.search-container {
    margin: 20px 10%;
    margin-bottom: 0;
}

#search-box {
    background: none;
    width: 100%;
    border: 3px solid white; 
    padding: 8px 12px;
    &:focus {
        border: 3px solid turquoise;
    }
    &:focus + label {
        color: turquoise; 
    }
  }

*:focus {
    outline: none;
}

label {
    color:white;
    font-weight: bolder;
    width: 100%;
    transition: 0.2s;
  }

.myBox {
margin: 0 10%;
}

accordion-group * {
    margin: 5px !important;
}

.more-details {
    color:white;
    background-color: darkcyan;
    padding: 0 5px;
    height: min-content;
}

.movie-result-overview {
    text-align: justify;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

  .add-to-list {
    color:black;
    background-color: burlywood;
    padding: 0 5px;
    height: min-content;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}