.no-padding > * {
    padding: 0px !important;
}
.movie-results {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.movie-result-title {
    align-self: center;
    font-size: 24px;
    font-weight: bolder;
}

.poster {
    height: 100px;
    margin: 0 50px;
}

.movie-result-info {
    margin: 0 50px;
}

