#search-box {

}

.movie-results {
    display: flex;
}

.movie-result-title {
    align-self: center;
    font-size: 24px;
    font-weight: bolder;
}

.poster {
    height: 100px;
    margin: 0 50px;
}

.movie-result-info {
    margin: 0 50px;
}

